body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
}

h3{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;   
}


p{
    color: #8f8f8f;
}

/* HEADINGS */

.big-heading{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15%;
    text-align: left;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}
.download-button:hover{
    scale: 110%;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: relative; 
    left: 10%; 
}

    /* Sections */

.colored-section{
    background-color: #ff4c68;
}

.white-section{
    background-color: white;
}
/* Features */

#features{
    position: relative;
}

.feature-title{
    font-size: 1.5;
}

.feature-icon{
    color:#ef8172; 
    margin-bottom:20px;
}

.feature-icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials, #press{
    background-color: #ef8172;
    
}

.testimonial-image{
    width: 10%;
    margin: 10px;
    border-radius: 100%;
}

#press{
    padding-bottom: 3%;
    
}

.press-logo{
    margin: 20px 20px 50px;
    width: 15%;
    
}

/* Pricing section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* Footer Section */


.contact-us{
    margin: 0 15px 20px;
}
.social-icon{
    color: grey;
    margin: 20px 10px;
}
.social-icon :hover{
    scale: 110%;
    color: #292524;
}


@media (max-width:990px){
    .title-image{
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
   
}